* {
	box-sizing: border-box;
}

body {
	padding: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: large;
	background-color: #ffffff;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

img {
	max-width: 1000px;
}

h1, h2, h3{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
}

h1 p {
	margin: 0px;
}

.header {
	font-size: 40px;
	text-align: center;
}

.date {
	font-size: small;
}

/* Create two unequal columns that floats next to each other */
.leftcolumn {
	float: left;
	width: 75%;
  }
  
  .rightcolumn {
	float: left;
	width: 25%;
	padding-left: 20px;
  }

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

.blog-post {
	padding-bottom: 30px;
}

.categories-list {
	font-size: small;
}

.sidebar-frame {
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	border-radius: 15px;
}

.sidebar-frame h3 {
	background-color: #ccc;
	border-style: solid;
	border-color: #ccc;
	border-width: 1px;
	padding: 5px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.sidebar-frame ul.pages {
	list-style-type: none;
	padding: 10px;
	margin: 0px;
}

.sidebar-frame ul.tasklist {
	list-style-type: square;
}

.footer {
	text-align: center;
}

@media screen and (max-width: 800px) {
	.leftcolumn, .rightcolumn {
	  width: 100%;
	  padding: 0;
	}
}
