---
layout: default
---


{%- if site.posts.size > 0 -%}
  {%- for post in paginator.posts -%}

    <div class="blog-post">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      
      <h1>{{ post.title | markdownify }}</h1>
      <span class="post-meta date">{{ post.date | date: date_format }}</span>

      {{ post.content }}
    
      <p class="categories-list">Categories:
        {% for category in post.categories %}
          {{ category }}
        {% unless forloop.last %}&nbsp;{% endunless %}
        {% endfor %}
      </p>
    </div>

  {%- endfor -%}
{%- endif -%}

<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      Previous
    </a>
  {% else %}
    <span class="previous">Previous</span>
  {% endif %}
  <span class="page_number ">
    Page: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Next</a>
  {% else %}
    <span class="next ">Next</span>
  {% endif %}
</div>
